## Aula 07- Indexações, operações e máscaras

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
d={'Python':10,'JavaScript':9,'Matlab':7}

series=pd.Series(d)
series

Python        10
JavaScript     9
Matlab         7
dtype: int64

## Indexação

In [ ]:
s=pd.Series(data=np.random.randint(1,5,10),index='A B C D E F G H I j'.split())

s['C':'E']

C    4
D    2
E    1
dtype: int64

## Máscaras

In [ ]:
s[s>2]

B    3
C    4
G    3
dtype: int64