## Aula 15 - Método aplly e ordenação de dataframes

In [15]:
import os # para executar comandos de diretório
from google.colab import drive # habilitar google drive no colab
drive.mount('/content/drive')
import numpy as np
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
df=pd.read_csv('/content/drive/MyDrive/dados/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
def changeSurvided(elemento):
  if elemento==1:
    return 'Yes'
  else:
    return 'No'

df['Survived']=df['Survived'].apply(changeSurvided)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,No,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,Yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Yes,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.0000,NaN,S
3,4,Yes,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,No,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
def changeFare(elemento):
  return f'${elemento}'

df['Fare']=df['Fare'].apply(changeFare)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,No,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,$7.25,NaN,S
1,2,Yes,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,$71.2833,C85,C
2,3,Yes,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,$7925.0,NaN,S
3,4,Yes,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,$53.1,C123,S
4,5,No,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,$8.05,NaN,S

## Ordenação

In [20]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
media_idade=df['Age'].mean()
df['Age']=df['Age'].fillna(media_idade)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:


df.sort_values(by='Age')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,Yes,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,$8.5167,NaN,C
755,756,Yes,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,$14.5,NaN,S
469,470,Yes,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,$19.2583,NaN,C
644,645,Yes,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,$19.2583,NaN,C
78,79,Yes,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,$29.0,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,No,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,$7.75,NaN,Q
493,494,No,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,$49.5042,NaN,C
96,97,No,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,$34.6542,A5,C
851,852,No,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,$7775.0,NaN,S
630,631,Yes,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,$30.0,A23,S

In [23]:
df.sort_values(by='Age',ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,Yes,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,$30.0,A23,S
851,852,No,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,$7775.0,NaN,S
96,97,No,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,$34.6542,A5,C
493,494,No,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,$49.5042,NaN,C
116,117,No,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,$7.75,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
831,832,Yes,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,$18.75,NaN,S
644,645,Yes,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,$19.2583,NaN,C
469,470,Yes,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,$19.2583,NaN,C
755,756,Yes,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,$14.5,NaN,S
803,804,Yes,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,$8.5167,NaN,C